svg {
    width: 100%;
    height: 100%;
}

.name_input {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 200px);
    width: 400px;
    height: 50px;
}
text {
    font: 18px 'Open Sans', sans-serif;
    text-anchor: middle;
    pointer-events: none;
    fill: white;
}
.footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 0px;
}
.modal {
    width: 75%;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: absolute;
    display: none;
    text-align: center;
}